include requirements/*.txt
include groksar/VERSION
include groksar/.mim/model-index.yml
include groksar/.mim/demo/*/*
recursive-include groksar/.mim/configs *.py *.yml
recursive-include groksar/.mim/tools *.sh *.py
